@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Reborn';
    src: url('/fonts/Reborn.woff2') format('woff2'),
         url('/fonts/Reborn.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  